# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore all makefiles
!Makefile
# Ignore VSCode config
.vscode
### Above combination will ignore all files without extension ###